* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  font-family: MontserratLight;
  src: url(/src/Assets/Montserrat-Light.ttf);
}

@font-face {
  font-family: MontserratBold;
  src: url(/src/Assets/Montserrat-Bold.ttf);
}

@font-face {
  font-family: Bebas;
  src: url(/src/Assets/BebasNeue-Regular.ttf);
}

@font-face {
  font-family: MontserratItalic ;
  src: url(/src/Assets/Montserrat-Italic.ttf);
}

.women-slider-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}
.slides {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}
.women-slider {
  width: 400px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

}
.women-slider > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width:896px) {
  .women-slider-container {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding-top: 30px;
  }
  .slides {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
  }
  .women-slider {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  
  }
  .women-slider > img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
}


.back-product {
  width: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transform: translateY(90px);
  margin-left: 70px;
}

.back-product > a {
  width: 30px;
  height: 30px;
  border: 2px dotted gray;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
}

@media screen and (max-width:896px) {
  .back-product {
    width: 40px;
    display: flex;
    transform: translateY(110px);
  }
  
  .back-product > a {
    width: 25px;
    height: 25px;
    color: #000;
    font-size: 15px;
  }
}


.authentication-container {
  width: 100%;
  min-height: 100vh;
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.authentication-container > form {
  width: 400px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 5px;
  gap: 10px;
  padding: 10px;
  background-color: rgba(219, 216, 216, 0.7);
}

.authentication-container > form > span {
display: flex;
justify-content: flex-start;
align-items: flex-start;
flex-direction: column;
gap: 5px;
}

form > span > input {
  width: 380px;
  height: 40px;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
}

form > span > .show-pass {
  width: 400px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
form > span > .show-pass > input {
  width: 380px;
  height: 40px;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
}

.show-pass > .eye {
  margin-top: 10px;
  transform: translateX(-30px);
  cursor: pointer;
  font-size: 17px;
}

.authentication-container > form > button {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
  background-color: #6496cd;
  color: #fff;
  border: none;
  cursor: pointer;
}

form > .navigate {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.navigate > span {
  color: #6496cd;
  cursor: pointer;
}

@media screen and (max-width:896px) {
  .authentication-container {
    width: 100%;
    padding: 100px 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  
  .authentication-container > form {
    width: 100%;
    display: flex;
  }
  
  form > span > input {
    width: 280px;
    height: 40px;
  }
  
  form > span > .show-pass {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  form > span > .show-pass > input {
    width: 280px;
    height: 40px;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
  }

  form > .navigate {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  } 
}

.profile-component {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 100px 70px;
}

.profile-container {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
}

.profile-info {
  width: 100%;
}


.profile-container label {
  display: block;
  margin-bottom: 10px;
}

.profile-container input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.profile-btn {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
}
.profile-button {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.edit-profile {
  width: 100%;
}

.profile-button button {
  width:100%;
  height: 35px;
  padding: 10px;
  cursor: pointer;
  font-size: 10px;
}

.profile-button button:hover {
  height: 35px;
  background-color: #6496cd;
  color: white;
  border: none;
  border-radius: 4px;
  border: 1px solid #6496cd;
  font-size: 13px;
}


/* ACCOUNT MANAGEMENT  */
.account-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding:100px 70px;
  gap: 10px;
  font-family: MontserratLight;
}

.account-container > form {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  padding: 20px;
  background-color: #dedddd;
}

.change-email {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3px;
  font-family: MontserratLight;
}
.change-email > input {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 10px;
}
.change-newpass {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3px;
  font-family: MontserratLight;
}
.change-newpass > input {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 10px;
}

.account-container > form > button {
  width: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #6496cd;
  border-radius: 10px;
  padding: 10px;
  color: #fff;
  font-size: 10px;
  font-family: MontserratLight;
}



.notfound-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 110px 0 20px 150px;
  background-image: url(https://i2.wp.com/fbcd.co/product-lg/b8b5d87632e9146e02dcf229b9756e8d_resize.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.notfound-container > h1 {
  font-family: MontserratBold;
  font-size: 35px;
}

.notfound-container > .text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.text > .home-icon {
  font-size: 100px;
}

.notfound-container > .text > a {
  color: #6496cd;
  text-decoration: none;
  font-size: 20px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.notfound-container > .text > a:hover {
  color: #ff4500;
}


.notfound-container > .text >  h1 {
    font-size: 2.5rem;
    font-family: 'Permanent Marker', cursive;
}

@media screen and (max-width:896px) {
  .notfound-container {
    width: 100%;
    min-height: 100vh;
    padding: 110px 0px 50px 10px;
  }
  
  .notfound-container > .text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -10px;
    gap: 0px;
  }
  
  .notfound-container > .text > a {
    color: #ff4500;
    font-size: 20px;
    padding-top: 55px;
  }
}